:root {
    --background-color-stop : #BA4949;
    --color-icons-topbar: #ffffff;
    --color-boxes: #ffffff32;
}

body {
    background: var(--background-color-stop);
    margin: 0;
    font-family: 'Roboto';
}
.navbar {
    padding: 0;
    display: flex;
    align-items: center;
    margin: auto;
    width: 47%;
    justify-content: space-between;

    .container {
        display: flex;
        align-items: center;
        img {

            width: 1.3em;
            height: 1.3em;
        }
    
        .logo {
            text-decoration: none;
            color: var(--color-icons-topbar);
            font-weight: bold;
            font-size: 1.2em;
            margin-left: 0.2em;
        }
    }

    .topbar {
        .primary-nav {
            display: flex;
            list-style: none;
        
            li {
                display: flex;
                align-items: center;
                border-radius: 5%;
                margin-left: 3%;
                background-color: var(--color-boxes);
                padding: 2.5% 2.5%;
                width: 20%;


                div {
                    margin: auto;
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                

                    a {
                        text-decoration: none;
                        color: var(--color-icons-topbar);
                        font-size: 80%;
                    } 

                    img {
                        width: 20%;
                    }
                }
            }
        
            li:last-child {
                margin-right: 0;
            }
        }
        
    }
    
}   