<!DOCTYPE html>
<html lang="spa">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>technically</title> 
    <link rel="stylesheet" href="..\static\main.css">
</head>
<body>
    <div class="navbar">
        <div class="container">
            <img src="..\images\icon-white2.png" alt="">
            <a class="logo" href="#"> 
                Pomofocus
            </a>
        </div>
        <nav class="topbar">
            <ul class="primary-nav">
                <li class="graph">
                    <div>
                        <img src="..\images\graph-white.png" alt="Graph icon">
                        <a href="#">Report</a>
                    </div>
                    
                </li>
                <li class="setting">
                    <div>
                        <img src="..\images\config-white.png" alt="Gear icon">
                        <a href="#">Setting</a>
                    </div>
                    
                </li>
                <li class="login">
                    <div>
                        <img src="..\images\user-white.png" alt="Person icon">
                        <a href="#">Login</a>
                    </div>
                    
                </li>
            </ul>
        </nav>
        
    </div>
    
    <section class="hero">
         <div class="clock">
            <div class="overbar">
                <ul class="select_clock_bar">
                    <li id="work_clock" class="select_clock_button">
                        Pomodoro
                    </li>
                    <li id="short_break_clock" class="select_clock_button">
                        Short Break 
                    </li>
                    <li id="long_break_clock" class="select_clock_button">
                        Long Break  
                    </li>

                </ul>
            </div>
            <div id="timer">
                25:00
             </div>
             <div id="action_button">
                START
             </div>
         </div>
         
    </section>
    <div class="encourage_message">
        Time to focus!
    </div>
</body>
</html>